<%- include('partials/header.ejs') %>




<div class="text-content">
    <h1>Welcome to your Profile, <%= user.username%></h1>
    <%if(user.Codeforces.length===1){%>
        <h3>CF Handle: <span class="tag5"><%=user.Codeforces[0].handle%></span></h3>
    <%}%>
    <form action="/edit/" method="GET">
        <button class="button1"> <span>Edit your CF Handle</span> <i class="fa fa-pencil fa-lg" aria-hidden="true"></i> </button>
    </form>
    <form action="/edit/refresh" method="GET">
        <button class="button1"> <span>Refresh</span> <i class="fa fa-refresh fa-lg" aria-hidden="true"></i></button>
    </form>
</div>


<%if(user.Codeforces.length===1){%>
    <!-- if user exists -->

    <%var cnt = [0,0,0,0,0]%>
    <% user.Codeforces[0].problems.forEach(function(dbproblem){%>
        <%dbproblem.tags.forEach(function(tag){%>
            <% if( tag==="implementation"){cnt[4]++;}%>
            <% if( tag==="dp"){cnt[1]++}%>
            <% if( tag==="math"){cnt[2]++}%>
            <% if( tag==="greedy"){cnt[0]++}%>
            <% if( tag==="graphs"){cnt[3]++}%>
        <%})%>
    <%})%>

    <section class="grid">
        <% var arr = ["greedy","dp","math","graphs","implementation"],i=0%>
        <% arr.forEach(function(t){%>
            <div class="card">
                <div class="card-content">
                    <a href="#">
                        <h3><%=t%></h3>
                    </a>
                    <p>No of Problems solved : <%=cnt[i++]%> </p>
                    <a href="/profile/solved/<%=t%>" style="text-decoration: none;" >
                        <span class="tag<%=i%>">see-solved-problems</span>
                    </a>
                </div>
            </div>
        <%})%>
    </section>

    <div class="My-lists">
        <h3> Your Lists</h3>
        <ul>
            
                <% user.Codeforces[0].usertags.forEach(function(utg){ %>
                    <li>
                        <span class="tag7">#<%=utg%></span>
                        <a href="/profile/usertags/<%=utg%>"> remove tag</a>
                    </li>
                <% });%>
            
        </ul>
        
        <form  action="/profile/usertags" method="GET">
            <div class="field">
                <label>Add to your List:</label>
                <input type="text" name="tag" placeholder="text">
            </div>
            <button >Submit</button>
        </form>
    </div>

<%}%>






<%- include('partials/footer.ejs') %>