<%- include('partials/header.ejs') %>




<div class="text-content">
    <h1>Welcome to your Profile, <%= user.username%></h1>
    <%if(user.Codeforces.length===1){%>
        <h3>CF Handle: <span class="tag5"><%=user.Codeforces[0].handle%></span></h3>
    <%}%>
    <form action="/edit/" method="GET">
        <button class="button1"> <span>Edit your CF Handle</span> <i class="fa fa-pencil fa-lg" aria-hidden="true"></i> </button>
    </form>
    <form action="/edit/refresh" method="GET">
        <button class="button1"> <span>Refresh</span> <i class="fa fa-refresh fa-lg" aria-hidden="true"></i></button>
    </form>
</div>


<%if(user.Codeforces.length===1){%>
    <!-- if user exists -->
    

    <%var cnt = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]%>
    <% var arr = ["greedy","dp","math","graphs","implementation","constructive algorithms","number theory","strings","data structures","brute force","two pointers","bitmasks","binary search","sortings","combinatorics","games","schedules","matrices","dsu","trees","dfs and similar","shortest paths","divide and conquer","geometry","hashing","ternary search"]; %>
    <% user.Codeforces[0].problems.forEach(function(dbproblem){%>
        <%dbproblem.tags.forEach(function(tag){%>
            <% var i = 0; %>
            <% arr.forEach(function(t){ %>
                <% if (tag == t) { %>
                    <% cnt[i]++; %>
                <% } %>
                <% i++; %>
            <% }); %>
        <%})%>
    <%})%>

    <section class="grid">
        <% var i=0,css = 0%>
        <% arr.forEach(function(t){%>
            <div class="card">
                <div class="card-content">
                    <a href="#">
                        <h3><%=t%></h3>
                    </a>
                    <p>No of Problems solved : <%=cnt[i++]%> </p>
                    <a href="/profile/solved/<%=t%>" style="text-decoration: none;" >
                        <% css++; css = css%8; if (css == 0) css++; %>
                        <span class="tag<%=css%>">see-solved-problems</span>
                    </a>
                </div>
            </div>
        <%})%>
    </section>

    <div class="My-lists">
        <h3> Your Lists</h3>
        <ul>
            
                <% user.Codeforces[0].usertags.forEach(function(utg){ %>
                    <li>
                        <span class="tag7">#<%=utg%></span>
                        <a href="/profile/usertags/<%=utg%>"> remove tag</a>
                    </li>
                <% });%>
            
        </ul>
        
        <form  action="/profile/usertags" method="GET">
            <div class="field">
                <label>Add to your List:</label>
                <input type="text" name="tag" placeholder="text">
            </div>
            <button >Submit</button>
        </form>
    </div>

<%}%>






<%- include('partials/footer.ejs') %>