<%- include('partials/header.ejs') %>



<section class="grid1">
    <% problems.forEach(element => {%>
        <% element.tags.forEach(function(quetag){%>
            <% if (quetag === tag) { %>
                <div class="card">
                    <div class="card-content">
                        <%var str = element.problemID%>
                        <a href="https://codeforces.com/problemset/problem/<%=str.substring(0,str.length-1)%>/<%=str.substring(str.length-1)%>" style="text-decoration: none;" >
                            <h3><%=element.name%></h3>
                        </a>
                        <p>Ratings :<%=element.rating%> </p>
                        <p>verdict: 
                            <% if( element.verdict == true){ %>
                                <!-- <i class="green check icon">Accepted</i> -->
                                <i class="fa fa-check" aria-hidden="true">Accepted</i>
                            <% }else{%>
                                <!-- <i class="red cancel icon">Wrong Answer</i> -->
                                <i class="fa fa-times" aria-hidden="true">Wrong Answer</i>
                            <%} %>
                        </p>
                        
                        <div class="content">
                            <%var todo_container_id = element.name.replace(/ /g, "");%>
                            <div class="todo-container" id="todo-container<%=todo_container_id%>" >
                                
                                <form action="/todos" id="create-todo">
                                    <input type="hidden" name="title" value="<%=element.name%>">
                                    <input type="text" name="description" value="<%=element.note%>">
                                    <input type="submit" value="Submit Note">
                                </form>
                                <div class="todo" id="<%=element.name%>" >
                                    <p><%= element.note%></p>
                                    <button class="delete-todo">Delete</button>
                                </div>
                            </div>
                        </div>


                        <%var i = 1;%>
                        <% element.tags.forEach(function(tg){%>
                            <span class="tag<%=i%>">#<%=tg%></span>
                            <%i = i+1; i = (i%7); if (i == 0) i++;%>
                        <%})%>
                    </div>
                </div>
            <% } %>
        <%})%>
    <% });%>
</section>


<%- include('partials/footer.ejs') %>